.radio {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-content: space-between;
  margin-bottom: 6%;
}

.p-radiobutton-input:checked + .p-radiobutton-box {
  border: 6px solid #624094;
}

.p-radiobutton-box {
  background-color: transparent;
  border: 1px solid rgb(var(--foreground-rgb));
}

.p-radiobutton-icon {
  background-color: transparent;
}

.individual-radio-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.radiolabel {
  font-size: 24px;
  font-weight: 400;
}

@media (max-width: 1280px) {
  .radio {
    margin-bottom: 5%;
  }
}
