body {
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.roi-calculus {
  width: 1400px;
  height: 820px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 55px;
  margin-right: 55px;
  padding-left: 60px;
  padding-right: 60px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 17.5%;
  margin-right: 50px;
}

.toplabel {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3.2px;
  color: #7130a3;
}

.p-inputnumber-input {
  font-size: 20px;
  font-weight: 600;
  padding-block: 6.65%;
  padding-inline: 12% 0%;
  width: 240px;
  letter-spacing: 0.75px;
  border-radius: 30px;
  border: none;
  color: #767676;
}

.p-inputnumber-input:valid {
  color: #000000;
}

.spacing {
  margin-top: 5%;
  margin-bottom: 5%;
}

.bottom-spacing {
  margin-bottom: 4%;
}

.slider-spacing {
  margin-top: 5%;
  margin-bottom: 18%;
}

.p-slider {
  background-color: white;
}

.p-slider-range {
  border-radius: 22px;
  background-color: #a3309c;
}

.p-slider-handle {
  border-color: #7130a3;
}

.bouton {
  height: 4rem;
  width: 15rem;
  background-color: #a3309c;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  padding: 0.75em;
  margin-top: 7%;
  margin-bottom: 5%;
}

.result-graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  margin-left: 50px;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
}

.potential-balance {
  margin-top: 3.25%;
}

.final-result {
  margin-top: 1%;
  margin-bottom: 3%;
  font-size: 78px;
  font-weight: 600;
  border-bottom-style: dashed;
  border-bottom-color: #a3309c;
  border-bottom-width: 3px;
  line-height: 103px;
  color: #a3309c;
}

.graph {
  width: 800px;
  height: 432px;
  border-radius: 22px;
  background-color: #7130a3;
}

@media (max-width: 1344px) {
  main {
    flex-direction: column;
  }
  .roi-calculus {
    flex-direction: column;
    width: 70vw;
    justify-content: last baseline;
    align-items: center;
  }
  form {
    align-items: center;
    width: 80vw;
    margin: 17.5% 50%;
  }
  .radio {
    align-self: center;
  }
  .bouton {
    padding: none;
  }
  .result-graph {
    align-items: center;
    margin-left: none;
    margin-right: 15vw;
  }
  .top-container {
    width: 80vw;
    align-items: center;
  }
  .final-result {
    font-size: 2.8em;
    line-height: 1.2em;
  }
  .graph {
    width: 90vw;
  }
}

@media (max-width: 500px) {
  .result-graph {
    align-items: center;
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
